//color 
$dbl-date-pickergrey:#d3d3d3;
$dbl-date-pickergrey-2: #dcdcdc;
$dbl-date-pickerwhite:#fff;
$dbl-date-pickerred:#ff0000;
$dbl-date-pickerlightgreen:#90ee90;
$dbl-date-pickeryellow:#ffff00;
$dbl-date-pickerblue:#87ceeb;

// font weight
$dbl-date-pickerfont-weight-light:300;
$dbl-date-pickerfont-weight-semi-bold:600;
$dbl-date-pickerfont-weight-bold:700;
$dbl-date-pickerfont-weight-extra-bold:800;


//z-index
$dbl-date-pickerz-index-2:2; // popper index