//color 
$dbl-date-picker-grey:#d3d3d3;
$dbl-date-picker-grey-2: #bfbfbf;
$dbl-date-picker-white:#fff;
$dbl-date-picker-dark-blue:#403190;

// font weight
$dbl-date-picker-font-weight-light:300;
$dbl-date-picker-font-weight-normal:400;
$dbl-date-picker-font-weight-semi-bold:600;
$dbl-date-picker-font-weight-bold:700;
$dbl-date-picker-font-weight-extra-bold:800;


//z-index
$dbl-date-picker-z-index-2:2; // popper index