//color 
$dbl-date-picker-grey:#d3d3d3;
$dbl-date-picker-grey-2: #dcdcdc;
$dbl-date-picker-white:#fff;
$dbl-date-picker-red:#ff0000;
$dbl-date-picker-lightgreen:#90ee90;
$dbl-date-picker-yellow:#ffff00;
$dbl-date-picker-blue:#87ceeb;

// font weight
$dbl-date-picker-font-weight-light:300;
$dbl-date-picker-font-weight-semi-bold:600;
$dbl-date-picker-font-weight-bold:700;
$dbl-date-picker-font-weight-extra-bold:800;


//z-index
$dbl-date-picker-z-index-2:2; // popper index