.double-date-picker-calender {
   
  &-popper {
      background-color: white;
      width: 300px;
      border: 1px solid darkgray;
      padding:20px;
  }
  &-body{
      margin-bottom: 16px;
  }
  &-header {
      display: flex;
      justify-content: space-between;
      margin-bottom: 15px;
  }
  &-month-year-name {
      font-weight: 700;
  }
  &-month-name {
      padding: 0 5px;
  }
  &-next-btn,
  &-previous-btn {
      transform: scale(1.3);
      border-radius: 50%;
      width: 20px;
      height: 23px;
      font-weight: 800;
      cursor: pointer;
      &:hover{
          background-color: rgba(54, 54, 54, 0.1);
      }
  }
  &-month-wrapper{
      height: 212px;
  }
  &-week {
      margin: 5px 0;
  }
  &-day,
  &-day-name {
      width: 36px;
      height: 32px;
      display: inline-block;
  }
  &-day-name {
      font-weight: 700;
  }
  &-day {
      padding: 5px;
      border-radius: 50%;
      cursor: pointer;

      &:hover{
          background-color: rgba(220, 220, 220,0.7);
      }
  }
  &-today {
      background-color: #dcdcdc;
      font-weight: 600;
  }
  &-current-month-day-disabled{
    pointer-events: none;
    background-color: transparent;
    color:#dcdcdc; 
    font-weight: 300;
  }
  &-outside-month-day {
      visibility: hidden;
  }
  &-first-date-selected {
      background-color: red;
      font-weight: 600;
      &:hover{
          background-color:red;
      }
  }
  &-second-date-selected {
      background-color: lightgreen;
      font-weight: 600;
      &:hover{
          background-color: lightgreen;
      }
  }
  &-first-second-between-selected {
      background-color: yellow;
      font-weight: 600;
      &:hover{
          background-color: yellow;
      }
  }
  &-reset-button,&-apply-button{
      display: inline-block;
      cursor: pointer;
      background-color: skyblue;
      padding: 5px;
      font-weight: 700;
      border-radius: 12px;
      margin: 0 20px;
  }
  &-apply-button-disabled{
    pointer-events: none;
    background-color: lightgrey;
    font-weight: 300;
  }
}
*{
  box-sizing: border-box;
}