@mixin double-date-picker-heading-extra-bold() {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: $dbl-date-picker-font-weight-extra-bold;
}

@mixin double-date-picker-heading-bold() {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: $dbl-date-picker-font-weight-bold;
}

@mixin double-date-picker-heading-normal() {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: $dbl-date-picker-font-weight-normal;
}